<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Login Box HTML Code - www.PSDGraphics.com</title>

 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="js/materialize.min.js"></script>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
<link href="login-box.css" rel="stylesheet" type="text/css" />
</head>

<body class="#263238 blue-grey darken-4">
  <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right"><%- message %></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
         <li><a href="/">Inicio</a></li>
         <li><a href="/registro">Registrarse</a></li>
         <li><a href="/loguearse">Login</a></li>
         <li><a href="/actualiza">Actualizar Contraseña</a></li>
         <li><a href="/contet">Libro</a></li>
         <li><a href="/logout">Cerrar Sesion</a></li>
      </ul>
    </div>
  </nav>
  </div>
  
  <div class="container-fluid" >
  <div class="row"  >
            <div class="col s12">
               <div class="embed-container">
    <iframe width="800" height="500" src="/content" frameborder="0" allowfullscreen></iframe>
</div>
                    
                 
            </div>
         </div>
  </div>

  <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>


</body>
</html>
