<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Login Box HTML Code - www.PSDGraphics.com</title>

 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="js/materialize.min.js"></script>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
<link href="login-box.css" rel="stylesheet" type="text/css" />
</head>

<body class="#263238 blue-grey darken-4">
 <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right"><%- message %></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
         <li><a href="/">Inicio</a></li>
         <li><a href="/registro">Registrarse</a></li>
         <li><a href="/loguearse">Login</a></li>
         <li><a href="/actualiza">Actualizar Contrase침a</a></li>
         <li><a href="/libro">Libro</a></li>
         <li><a href="/logout">Cerrar Sesion</a></li>
      </ul>
    </div>
  </nav>
  </div>
  <br />
  <br />
  <div class="container" >
  <div class="row #90caf9 blue lighten-3 center" >
   
      <form method="post" id="login-box" action="/login" class="col s6 center">
        <div class="row">
            
       <div class="col s12 center">
         <H2>Login</H2>
         
     </div>
      </div>
      
      <div class="row ">
          <div class="col s3"></div>
        <div class="input-field col s9 m5 ">
          <input name="username" type="text" >
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
          <div class="col s3"></div>
        <div class="input-field col s9 m5 center">
          <input name="password" type="password" >
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
          <div class="col s3"></div>
        <div class="input-field col s6 center">
          <button type="submit" class="validate waves-effect waves-light btn" value="Login" />Iiciar Sesi칩n</button>
        </div>
        <div class="col s3"></div>
      </div>
      
    </form>
    <div class="col s6">
         <h2 class="center">Funcionamiento de login</h2>
         <p> Enviaremos un post al pulsar el boton Iniciar Sesi칩n. Lo recibiremos en 
             el servidor nodejs y gracias a express y un conjunto de librerias podemos
             comprobar la existencia del usuario o no. Si existe nuestro usuario
             en nuestro archivo users.json y la constrase침a es las misma que tenermos rejistrada
             en este archivo podemos seguir a la siguente pagina que en nuestro caso es 
             un libro creado con gitbook.En caso contrario nos dara un error.
         </P>
      
       
    </div>
    
    
  </div>
        
  </div>

  <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>


</body>
</html>
